parameters:
	ignoreErrors:
		-
			message: '#^Method TJVB\\MailCatchall\\MailCatcher\:\:appendHtmlReceiver\(\) has parameter \$receivers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/MailCatcher.php

		-
			message: '#^Method TJVB\\MailCatchall\\MailCatcher\:\:appendReceivers\(\) has parameter \$receivers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/MailCatcher.php

		-
			message: '#^Method TJVB\\MailCatchall\\MailCatcher\:\:appendTextReceiver\(\) has parameter \$receivers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/MailCatcher.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/MailEventSubscriber.php

		-
			message: '#^Parameter \#2 \$listener of method Illuminate\\Events\\Dispatcher\:\:listen\(\) expects array\|\(callable\(\)\: mixed\)\|class\-string\|Illuminate\\Events\\QueuedClosure\|null, ''\\\\TJVB\\\\MailCatchall…'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/MailEventSubscriber.php

		-
			message: '#^Offset ''events'' might not exist on Illuminate\\Foundation\\Application\|null\.$#'
			identifier: offsetAccess.notFound
			count: 2
			path: tests/MailCatchallServiceProviderTest.php

		-
			message: '#^Parameter \#1 \$app of class TJVB\\MailCatchall\\MailCatchallServiceProvider constructor expects Illuminate\\Contracts\\Foundation\\Application, Illuminate\\Foundation\\Application\|null given\.$#'
			identifier: argument.type
			count: 2
			path: tests/MailCatchallServiceProviderTest.php

		-
			message: '#^Cannot call method make\(\) on Illuminate\\Foundation\\Application\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/MailCatcherTest.php

		-
			message: '#^Method TJVB\\MailCatchall\\Tests\\MailCatcherTest\:\:getLoggerMock\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/MailCatcherTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertStringContainsStringIgnoringCase\(\) expects string, resource\|string\|null given\.$#'
			identifier: argument.type
			count: 6
			path: tests/MailCatcherTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertStringNotContainsStringIgnoringCase\(\) expects string, resource\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/MailCatcherTest.php

		-
			message: '#^Cannot call method get\(\) on Illuminate\\Foundation\\Application\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/MailEventSubscriberTest.php

		-
			message: '#^Cannot call method hasListeners\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/MailEventSubscriberTest.php

		-
			message: '#^Parameter \#1 \$events of method TJVB\\MailCatchall\\MailEventSubscriber\:\:subscribe\(\) expects Illuminate\\Events\\Dispatcher, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/MailEventSubscriberTest.php
